.App {
  text-align: center;
  margin: 0 auto;
  width: 1220px;
}

.todo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.todolist {
  margin: 10px;
  min-width: 200px;
  text-align: center;
  padding: 5px;
  border: 1px solid gray;
}

.task {
  display: flex;
  justify-content: center;
}